{:paths ["src"] ; where your cljd files are
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        tensegritics/clojuredart
        {:git/url "git@github.com:tensegritics/ClojureDart.git"
         ;; :sha "c95504d14f6b27dfd0ec2bcaca2bd1ab4c3f596b"
         :sha "e5fb8b390fe02a1efa0d4edf48ec6c24b9b884ff"}}}
